<ion-view view-title="Tarefas" name="dashboard-view">

  <ion-nav-buttons side="left">
    <button class="button icon-left ion-person button-clear">&nbsp;{{username}}</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row">
      <div class="col text-center">
        
      </div>
    </div>
  </ion-content>
</ion-view>
